{% extends "header.html" %} {% block title %}Booking{% endblock %} {% block content %}
    </br>
    <table class="table table-striped table-hover table-sm " xmlns="http://www.w3.org/1999/html">
        {% if user.special_access %}
            <caption style="caption-side: top; text-align: center;">Bookings</caption>
        {% else %}
            <caption style="caption-side: top; text-align: center;">My bookings</caption>
        {% endif %}
        <thead class="thead-light">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Title</th>
            <th>Author</th>

        </tr>
        </thead>
        <tbody>
        {% for booking in bookings %}
            <tr>
            <th>{{ booking.user_firstname }}</th>
            <th>{{ booking.user_lastname }}</th>
            <th>{{ booking.book_title }}</th>
            <th>{{ booking.book_author }}
        {% endfor %}
        </tbody>
    </table>
{% endblock %}