{% extends "header.html" %} {% block title %}Find a book{% endblock %} {% block content %}
    </br>
    <form method="POST">
        <h3 align="center">Find a book</h3>
        <div class="form-group">
            <label for="title">Title</label>
            <input
                    type="text"
                    class="form-control"
                    id="title"
                    name="title"
                    placeholder="Enter the title of the book"
            />
        </div>
        <div class="form-group">
            <label for="author">Author</label>
            <input
                    type="text"
                    class="form-control"
                    id="author"
                    name="author"
                    placeholder="Enter the author of the book"
            />
        </div>
        <div class="form-group">
            <label for="publicationDate">Publication Date</label>
            <input
                    type="date"
                    class="form-control"
                    id="publicationDate"
                    name="publicationDate"
                    placeholder="Enter the publication date of the book"
            />
        </div>
        <div class="form-group">
            <label for="rowLetter">Letter of the row</label>
            <input
                    type="text"
                    class="form-control"
                    id="rowLetter"
                    name="rowLetter"
                    placeholder="Enter the row letter where is the book"
            />
        </div>
        <div class="form-group">
            <label for="rowNumber">Number in the row</label>
            <input
                    type="number"
                    class="form-control"
                    id="rowNumber"
                    name="rowNumber"
                    placeholder="Enter the location number of the book"
            />
        </div>
        <br/>
        <input type="hidden" name="search" value="1" >
        <input type="submit" value="Search" class="btn btn-primary"></input>
    </form>
    <table class="table table-striped table-hover table-sm ">
        <caption style="caption-side: top; text-align: center;">Inventory</caption>
        <thead class="thead-light">
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Publication Date</th>
            <th>Location</th>
            <th>Availability</th>
        </tr>
        </thead>
        {% for book in inventory %}
            <tr>
                <th>{{ book.title }}</th>
                <th>{{ book.author }}</th>
                <th>{{ book.publication_date }}</th>
                <th>{{ book.row_letter }}-{{ book.row_number }}</th>
                {% if book.available %}
                    <th><i class="bi bi-check2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-check2" viewBox="0 0 16 16">
                            <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                        </svg>
                    </i></th>
                    <th>
                        <form method="post">
                            <input type="submit" name="Borrow" value="Borrow" class="btn btn-primary">
                            <input type="hidden" name="book" value="{{ book.id }}">
                        </form>
                    </th>
                {% else %}
                    <th>
                        <i class="bi bi-check2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-x-lg" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                      d="M13.854 2.146a.5.5 0 0 1 0 .708l-11 11a.5.5 0 0 1-.708-.708l11-11a.5.5 0 0 1 .708 0Z"/>
                                <path fill-rule="evenodd"
                                      d="M2.146 2.146a.5.5 0 0 0 0 .708l11 11a.5.5 0 0 0 .708-.708l-11-11a.5.5 0 0 0-.708 0Z"/>
                            </svg>
                        </i>
                    </th>
                    <th style="color: darkgrey;">
                        <span>Unavailable</span>
                    </th>
                {% endif %}

            </tr>
        {% endfor %}
    </table>
{% endblock %}